activity-service/node_modules
activity-service/dist
activity-service/.git
activity-service/.env
friend-matching-service/node_modules
friend-matching-service/dist
friend-matching-service/.git
friend-matching-service/.env
user-service/node_modules
user-service/dist
user-service/.git
user-service/.env
review-service/node_modules
review-service/dist
review-service/.git
review-service/.env
api-gateway/node_modules
api-gateway/dist
api-gateway/.git
api-gateway/.env
.git
.env